#myCanvas{
	display: block;
	margin: auto auto;
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	display: flex;
	max-width: 100vw;
	height:100vh;
	max-height:100vh;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.turnTable{
	position: relative;
	width: 100vmin;
	height: 100vmin;
	padding: 5vmin;
}
.btn{
	position: absolute;
    left: 50%;
    top: 50%;
	 transform: translate(-50%, -50%);
	 width: 70px;
    height: 70px;
	 border-radius: 50%;
	 font-size: 22px;
	 cursor: pointer;
	 border: 0px solid;
	 background-color: white;
	 box-shadow: 0 2px 13px 1px black;

}
.btn:focus{
	outline: none;
	background-color: #e2e2e2;
}
.triangle{
	width: 0;
	height: 0;
	border-width: 0 32px 62px;
	border-style: solid;
	border-color: transparent transparent white;
	position: absolute;
	top: -60%;
	left: 4%;
}
.btn:focus .triangle{
	outline: none;
	border-bottom-color: #e2e2e2;
}





