#myCanvas{
	/* animation-name: start; */
	/* animation-duration: 3s; */
}
.turnTable{
	position: relative;
	width: 504px;
	height: 504px;
}
.btn{
	position: absolute;
    left: 50%;
    top: 50%;
	 transform: translate(-50%, -50%);
	 width: 70px;
    height: 70px;
	 border-radius: 50%;
	 font-size: 22px;
	 cursor: pointer;

}






